body{
	background-color:#ACBAD7;
}
#pagenavi{
	border-bottom:2px solid #3C8CB1;
}
#pagenavi a{
	color: #15356e;
}
#pagenavi a:hover{
	background-color: #3C8CB1;
}
#pagefooter{
	background-color:#909DB6;
}