body{
	background-color:#ACBAD7;
}
#pagenavi{
	background-color:#000000;
}
#pageheadline{
	background-color:#ffffff;
}
#pagebody{
	background-color:#ffffff;
}
#pagefooter{
	background-color:#909DB6;
}
