body{
	background-color:#CC6154;
}
#pagenavi{
	background-color:#6F7945;
}
#pageheadline{
	background-color:#ffffff;
}
#pagebody{
	background-color:#DFC267;
}
#pagefooter{
	background-color:#8C945B;
}
