body{
	background-color:#CC6154;
}
#pagenavi{
	background-color:#6F7945;
	border-bottom:2px solid #c5c860;
}
#pagenavi a{
	color: #c5c860;
}
#pagenavi a:hover{
	background-color: #c5c860;
}
#pagebody{
	background-color:#DFC267;
}
#pagefooter{
	background-color:#8C945B;
}
